<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <typeAlias alias="TaskInstLogBean" type="cn.com.dbsync.bean.TaskInstLogBean"/>
        <typeAlias alias="ConfTaskBean" type="cn.com.dbsync.bean.ConfTaskBean"/>
        <typeAlias alias="ConfTableBean" type="cn.com.dbsync.bean.ConfTableBean"/>
        <typeAlias alias="ConfPoolBean" type="cn.com.dbsync.bean.ConfPoolBean"/>
        <typeAlias alias="ConfTableSqlBean" type="cn.com.dbsync.bean.ConfTableSqlBean"/>
        <typeAlias alias="TaskInstBean" type="cn.com.dbsync.bean.TaskInstBean"/>
    </typeAliases>

    <mappers>
        <mapper resource="cn/com/dbsync/mapper/dbSyncConfMapper.xml"/>
        <mapper resource="cn/com/dbsync/mapper/dbSyncInstMapper.xml"/>
    </mappers>

</configuration>